Repository isabellaPhung/UCSC-CSE123-S25: changes, and which GitLab CI jobs are due for each by the changed paths.
All: make-pdf, make-design, make-presentation, make-demo-presentation, make-poster

make-pdf:
  image:
    name: pandoc/latex
    entrypoint:
    - /bin/sh
    - -c
  script:
  - tlmgr install fvextra lineno appendix
  - apk --no-cache add make
  - cd doc/asgn1
  - make pdf
  - cd ../asgn2
  - make pdf
  - cd ../asgn3
  - make pdf
  artifacts:
    paths:
    - doc/asgn1/build/assignment_1.pdf
  ...

make-design:
  image:
    name: pandoc/latex
    entrypoint:
    - /bin/sh
    - -c
  script:
  - tlmgr install fvextra lineno appendix
  - apk --no-cache add make
  - cd doc/design
  - make pdf
  artifacts:
    paths:
    - doc/design/build/CSE123_Design_Document_Group2.pdf
    expire_in: 1 week

make-presentation:
  image:
    name: pandoc/latex
    entrypoint:
    - /bin/sh
    - -c
  script:
  - tlmgr install fvextra lineno
  - apk --no-cache add make
  - cd doc/final_presentation
  - make pdf
  artifacts:
    paths:
    - doc/final_presentation/build/CSE123_Final_Presentation_Group2.pdf
    expire_in: 1 week

make-demo-presentation:
  image:
    name: pandoc/latex
    entrypoint:
    - /bin/sh
    - -c
  script:
  - tlmgr install fvextra lineno
  - apk --no-cache add make
  - cd doc/demo_presentation
  - make pdf
  artifacts:
    paths:
    - doc/demo_presentation/build/Demo_Presentation.pdf
    expire_in: 1 week

make-poster:
  image:
    name: pandoc/latex
    entrypoint:
    - /bin/sh
    - -c
  script:
  - tlmgr install fvextra lineno beamerposter xkeyval ragged2e pgfplots type1cm changepage anyfontsize roboto smartdiagram xstring
  - apk --no-cache add make
  - cd doc/poster
  - make pdf
  artifacts:
    paths:
  ...

proper syntax fix
  doc/common/tests/test_emi.md
Due: make-design, make-presentation

syntax error h1
  doc/common/tests/test_emi.md
Due: make-design, make-presentation

non ascii character fix
  doc/common/tests/test_emi.md
Due: make-design, make-presentation

uniform syntax
  doc/common/tests/test_UV.md
Due: make-design, make-presentation

fixed intro
  doc/common/tests/test_UV.md
Due: make-design, make-presentation

added server communication to design
  doc/design/design.tex
  doc/design/includes.mk
  doc/design/server_communication.md
Due: make-design

authentication, device management, and reformat
  doc/common/webapp_design_spec.md
Due: make-design, make-presentation

Edit webapp_design_spec.md
  doc/common/webapp_design_spec.md
Due: make-design, make-presentation

Task managment
  doc/common/webapp_design_spec.md
Due: make-design, make-presentation

fixing some formatting and adding some UI images
  doc/common/images/eventTile.png
  doc/common/images/focusTile.png
  doc/common/images/habitTile.png
  doc/common/images/prototype8.jpg
  doc/common/images/taskTile.png
  doc/common/webapp_design_spec.md
  doc/design/prototype_hardware.md
Due: make-design, make-presentation

fleshed out device ui requirements, fixed and added some pictures
  doc/common/configurable_settings.md
  doc/common/device_ui_requirements.md
  doc/common/images/wifi_setup.png
  doc/common/startManual/startManual.md
  doc/common/startManual/wifiConnect.png
  doc/common/startManual/wifi_setup.png
Due: make-design, make-presentation

added a bit to prototype software
  doc/design/prototype_software.md
Due: make-design

tasks addition
  doc/common/webapp_design_spec.md
Due: make-design, make-presentation

habits
  doc/common/webapp_design_spec.md
Due: make-design, make-presentation

calendar
  doc/common/webapp_design_spec.md
Due: make-design, make-presentation

edit calendar
  doc/common/webapp_design_spec.md
Due: make-design, make-presentation

reorder server description in design document
  doc/common/webapp_design_spec.md
  doc/design/design.tex
  doc/design/includes.mk
  doc/design/prototype_server.md
  doc/design/server_design.md
Due: make-design, make-presentation

add to proto server and fix typo
  doc/design/prototype_server.md
Due: make-design

add notes to server design
  doc/design/server_design.md
Due: make-design

prototype software draft
  doc/design/prototype_software.md
Due: make-design

removed comments as they didn't work
  doc/design/prototype_software.md
Due: make-design

Restated the database explination.
  doc/design/prototype_software.md
Due: make-design

added description of mqtt and wifi provisioning to design
  doc/design/design.sty
  doc/design/includes.mk
  doc/design/prototype_software.md
  doc/design/wifi_provisioning.tex
Due: make-design

add to device security
  doc/design/server_design.md
Due: make-design

finish server design
  doc/design/server_design.md
Due: make-design

adjusting webapp design spec formatting, test plan, and fixing spelling error
  doc/common/phone_app_design.md
  doc/common/test_plan.md
  doc/common/webapp_design_spec.md
  doc/design/design.tex
  doc/design/prototype_software.md
Due: make-design, make-presentation

fleshed out existing designs further
  doc/common/existing_designs.md
  doc/design/hardware_design.md
Due: make-design, make-presentation

small typo fixies
  doc/common/existing_designs.md
Due: make-design, make-presentation

fix typos and formatting
  doc/common/webapp_design_spec.md
Due: make-design, make-presentation

fix formatting and typo
  doc/common/test_suite.md
Due: make-design, make-presentation

add device ID requirement
  doc/design/design.tex
Due: make-design

fix typos
  doc/common/existing_designs.md
Due: make-design, make-presentation

adding details regarding chassis and adding sync tests back in and adjusting test formatting
  doc/common/device_ui_requirements.md
  doc/common/manufactured_design.md
  doc/common/tests/test_UV.md
  doc/common/tests/test_emi.md
  doc/design/design.tex
  doc/design/hardware_design.md
  doc/design/prototype_tests.tex
Due: make-design, make-presentation

add some notes to sustainability statement
  doc/common/sustainability_statement.md
Due: make-design, make-presentation

added some more details regarding manufactured design
  doc/common/images/LCD_spacer.jpg
  doc/common/manufactured_design.md
  doc/design/hardware_design.md
Due: make-design, make-presentation

added files for review
  doc/common/akanksha_review.md
  doc/common/isabella_review.md
  doc/common/lennan_review.md
  doc/common/mason_review.md
  doc/common/sulaiman_review.md
  doc/design/design.tex
  doc/design/includes.mk
Due: make-design, make-presentation

moved create device and added requirement file
  aws_snippets/create_device/create_device.py
  aws_snippets/create_device/requirements.txt
Due: none

added test results template for sync tests
  doc/common/Finalized_Specs.md
  doc/common/test_plan.md
  doc/common/tests/test_report.md
  doc/common/tests/test_sync_basic.md
  doc/common/tests/test_sync_basic_report.md
  doc/common/tests/test_sync_dual.md
  doc/common/tests/test_sync_dual_report.md
  doc/common/tests/test_sync_redo_report.md
  doc/design/includes.mk
  doc/design/prototype_test_results.tex
Due: make-design, make-presentation

added my review
  doc/common/Finalized_Specs.md
  doc/common/isabella_review.md
Due: make-design, make-presentation

Path conditions:
  make-pdf: any of: doc/asgn1/*, doc/asgn2/*, doc/asgn3/*
  make-design: any of: doc/common/**/*, doc/design/*, .gitlab-ci.yml
  make-presentation: any of: doc/common/**/*, doc/final_presentation/*, .gitlab-ci.yml
  make-demo-presentation: any of: doc/demo_presentation/*
  make-poster: any of: doc/poster/*
