Repository isabellaPhung/UCSC-CSE123-S25: changes, and which GitLab CI jobs are due for each by the changed paths.
All: make-pdf, make-design, make-presentation

.gitlab-ci.yml:

variables:
  GIT_SUBMODULE_STRATEGY: recursive

make-pdf:
  rules:
    - changes:
      - doc/common/**/*
      - doc/asgn1/*
      - doc/asgn2/*
      - doc/asgn3/*
      - .gitlab-ci.yml
  image:
    name: pandoc/latex
    entrypoint: ["/bin/sh", "-c"]
  script:
    - tlmgr option repository https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2024/tlnet-final/
    - tlmgr install fvextra lineno
    - apk --no-cache add make
    - cd doc/asgn1
    - make pdf
    - cd ../asgn2
    - make pdf
    - cd ../asgn3
    - make pdf
  artifacts:
    paths:
      - doc/asgn1/build/assignment_1.pdf
      - doc/asgn2/build/assignment_2.pdf
      - doc/asgn3/build/assignment_3.pdf
    expire_in: 1 week

make-design:
  rules:
    - changes:
      - doc/common/**/*
      - doc/design/*
      - .gitlab-ci.yml
  image:
    name: pandoc/latex
    entrypoint: ["/bin/sh", "-c"]
  script:
    - tlmgr option repository https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2024/tlnet-final/
    - tlmgr install fvextra lineno
    - apk --no-cache add make
    - cd doc/design
    - make pdf
  artifacts:
    paths:
      - doc/design/build/CSE123_Design_Document_Group2.pdf
    expire_in: 1 week

make-presentation:
  rules:
    - changes:
      - doc/common/**/*
      - doc/presentation/*
      - .gitlab-ci.yml
  image:
    name: pandoc/latex
    entrypoint: ["/bin/sh", "-c"]
  script:
    - tlmgr option repository https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2024/tlnet-final/
    - tlmgr install fvextra lineno
    - apk --no-cache add make
    - cd doc/presentation
    - make pdf
  artifacts:
    paths:
      - doc/presentation/build/CSE123_Presentation_Group2.pdf
    expire_in: 1 week

diagram of full system
  doc/common/embedded_system_flow_chart.png
Due: make-pdf, make-design, make-presentation

possibly working demo displaying mqtt publish message onto lcd
  esp-tentative-name/components/ili9488/main.c
  esp-tentative-name/components/mqtt_conn/CMakeLists.txt
  esp-tentative-name/components/mqtt_conn/mqtt_conn.c
  esp-tentative-name/main/app_main.c
  esp-tentative-name/partitions.csv
  esp-tentative-name/sdkconfig.defaults
Due: none

format better for design doc
  doc/common/decision_table.md
Due: make-pdf, make-design, make-presentation

added content to presentation template
  doc/presentation/includes.mk
  doc/presentation/presentation.sty
  doc/presentation/presentation.tex
Due: make-presentation

remove unnecessary submodule cloning from ci
  .gitlab-ci.yml
Due: make-pdf, make-design, make-presentation

Added spacing to fix list
  doc/common/test_plan.md
Due: make-pdf, make-design, make-presentation

Moved appendices to the end
  doc/design/design.tex
Due: make-design

adding presentation version of brainstorm
  doc/common/brainstorm_prez.md
Due: make-pdf, make-design, make-presentation

expanded presentation slides
  doc/presentation/images/pytest_logo.png
  doc/presentation/images/unity_logo.png
  doc/presentation/presentation.sty
  doc/presentation/presentation.tex
Due: make-presentation

delete brainstorm_prez.md
  doc/common/brainstorm_prez.md
Due: make-pdf, make-design, make-presentation

adding to presentation.tex
  doc/presentation/presentation.tex
Due: make-presentation

fixing formatting mistake
  doc/presentation/presentation.tex
Due: make-presentation

refining ethics statement
  doc/common/ethics_statement.md
Due: make-pdf, make-design, make-presentation

cleaned up ethics refinement
  doc/common/ethics_statement.md
Due: make-pdf, make-design, make-presentation

choose option for slide template
  doc/presentation/presentation.tex
Due: make-presentation

reverting
  doc/presentation/presentation.tex
Due: make-presentation

Revert "fixing formatting mistake"
  doc/presentation/presentation.tex
Due: make-presentation

final draft attempt one for need statement
  doc/common/need_statement.md
Due: make-pdf, make-design, make-presentation

tweaked need statement
  doc/common/need_statement.md
Due: make-pdf, make-design, make-presentation

added section on prototype
  doc/presentation/images/aws_demo.jpg
  doc/presentation/presentation.tex
Due: make-presentation

updated tests
  doc/presentation/presentation.tex
Due: make-presentation

Added embedded system diagram
  doc/presentation/presentation.tex
Due: make-presentation

Moved embedded system flow before prototype
  doc/presentation/presentation.tex
Due: make-presentation

reordered slides
  doc/presentation/presentation.tex
Due: make-presentation

added notes to be played during presentation
  doc/presentation/presentation.sty
  doc/presentation/presentation.tex
Due: make-presentation

spellcheck
  doc/common/need_statement.md
Due: make-pdf, make-design, make-presentation

fix design_for_manufacture_and_assembly feedback
  doc/common/design_for_manufacture_and_assembly.md
Due: make-pdf, make-design, make-presentation

fixing typos in decision_table.md
  doc/common/decision_table.md
Due: make-pdf, make-design, make-presentation

Diagram of design
  doc/common/Design.png
Due: make-pdf, make-design, make-presentation

Delete Design.png
  doc/common/Design.png
Due: make-pdf, make-design, make-presentation

design logic diagram
  doc/common/design_logic.png
Due: make-pdf, make-design, make-presentation

try to add bullet point and blank line
  doc/presentation/presentation.tex
Due: make-presentation

remove failed line breaks
  doc/presentation/presentation.tex
Due: make-presentation

try adding newline
  doc/presentation/presentation.tex
Due: make-presentation

added source
  doc/presentation/presentation.tex
Due: make-presentation

Added design logic slide
  doc/presentation/presentation.tex
Due: make-presentation

Added calender scripts for database modification
  esp-tentative-name/components/database/CMakeLists.txt
  esp-tentative-name/components/database/README.md
  esp-tentative-name/components/database/src/DLL.c
  esp-tentative-name/components/database/src/DLL.h
  esp-tentative-name/components/database/src/EntryMan.c
  esp-tentative-name/components/database/src/EntryMan.h
  esp-tentative-name/components/database/src/GUIContent.c
  esp-tentative-name/components/database/src/GUIContent.h
  esp-tentative-name/components/database/src/GUITask.c
  esp-tentative-name/components/database/src/GUITask.h
  esp-tentative-name/components/database/src/Logger.c
  esp-tentative-name/components/database/src/Logger.h
  esp-tentative-name/components/database/src/SQL.c
  esp-tentative-name/components/database/src/SQL.h
  esp-tentative-name/components/database/src/defs.h
  esp-tentative-name/components/database/src/main.c
  esp-tentative-name/components/database/src/main.h
Due: none

Reordered presentation to match instruction
  doc/presentation/presentation.tex
Due: make-presentation

Some notes on what to do next
  doc/presentation/presentation.tex
Due: make-presentation
