Repository isabellaPhung/UCSC-CSE123-S25: changes, and which GitLab CI jobs are due for each by the changed paths.
All: make-pdf, make-design

make-pdf:
  image:
    name: pandoc/latex
    entrypoint:
    - /bin/sh
    - -c
  script:
  - tlmgr install fvextra lineno
  - apk --no-cache add make
  - cd doc/asgn1
  - make pdf
  artifacts:
    paths:
    - doc/asgn1/build/assignment_1.pdf

make-design:
  image:
    name: pandoc/latex
    entrypoint:
    - /bin/sh
    - -c
  script:
  - apk --no-cache add make
  - cd doc/design
  - make pdf
  artifacts:
    paths:
    - doc/design/build/CSE123_Design_Document_Group2.pdf

fixed headings for personas
  doc/common/personas/camillia.md
  doc/common/personas/elijah.md
  doc/common/personas/linda.md
  doc/common/personas/mary.md
  doc/common/personas/peyton.md
  doc/design/design.tex
Due: make-pdf, make-design

added table of contents to design and unslisted personas subsections
  doc/common/personas/camillia.md
  doc/common/personas/elijah.md
  doc/common/personas/linda.md
  doc/common/personas/mary.md
  doc/common/personas/peyton.md
  doc/design/design.tex
Due: make-pdf, make-design

added a biblatex referenes file
  doc/common/references.bib
Due: make-pdf, make-design

Update need_statement.tex
  doc/common/need_statement.tex
Due: make-pdf, make-design

Update goal_statement.tex
  doc/common/goal_statement.tex
Due: make-pdf, make-design

added meta directory
  meta/decision_table_gd.png
  meta/readme.md
Due: none

added gantt chart to asgn2 and maker with patch
  .gitmodules
  doc/asgn2/Makefile
  doc/asgn2/assignment_2.md
  doc/asgn2/gantt.png
  thirt_party/gantt_patch.diff
  thirt_party/readme.md
Due: none

forgot to add job for asgn2
  .gitlab-ci.yml
Due: make-pdf, make-design

fix url colors to be more visible
  doc/misc/metadata.md
Due: none

minor spelling mistake
  .gitmodules
  third_party/gantt_patch.diff
  third_party/readme.md
Due: none

adding brainstorm file
  doc/common/brainstorm.md
Due: make-pdf, make-design

Added morphological table
  doc/asgn2/assignment_2.md
Due: none

Upload New File
  doc/common/Morphology_Table.md
Due: make-pdf, make-design

Replace Morphology_Table.md
  doc/common/Morphology_Table.md
Due: make-pdf, make-design

Decision table data
  doc/asgn2/decision table.png
  doc/common/decision_table.md
Due: make-pdf, make-design

Moved decision table to common
  doc/common/decision table.png
Due: make-pdf, make-design

moving gantt to common
  doc/asgn2/assignment_2.md
  doc/asgn2/gantt.png
Due: none

move gantt files to common
  doc/common/gantt.md
  doc/common/gantt.png
Due: make-pdf, make-design

fixed asgn2 build
  doc/asgn2/Makefile
  doc/asgn2/assignment_2.md
Due: none

replacing png with ods
  doc/common/decision table.png
  doc/common/decision_table.ods
Due: make-pdf, make-design

adding decision table.png back
  doc/common/decision_table.png
Due: make-pdf, make-design

update gantt
  doc/common/gantt.png
Due: make-pdf, make-design

Upload New File
  doc/common/Ethics_Statment.md
Due: make-pdf, make-design

Delete Ethics_Statment.md
  doc/common/Ethics_Statment.md
Due: make-pdf, make-design

Upload New File
  doc/common/ethics_statement.md
Due: make-pdf, make-design

rename
  doc/common/morphological_chart.md
Due: make-pdf, make-design

add design_for_manufacture_and_assembly.md
  doc/common/design_for_manufacture_and_assembly.md
Due: make-pdf, make-design

Test plan draft
  doc/common/test_plan.md
Due: make-pdf, make-design

fix name
  doc/asgn2/Makefile
  doc/asgn2/assignment_2.md
Due: none

add design objectives list
  doc/common/design_objectives.md
Due: make-pdf, make-design

prototype budget added
  doc/common/prototype-budget.md
Due: make-pdf, make-design

renamed design objectives
  doc/common/design_objective.md
  doc/common/design_objectives.md
Due: make-pdf, make-design

changed name of prototype budget file and made test report template
  doc/common/prototype_budget.md
  doc/common/test_report.tex
Due: make-pdf, make-design

created assignment 3 documents
  doc/asgn3/Makefile
  doc/asgn3/assignment_3.md
Due: none

started on life cycle assessment
  doc/common/lifecycle_assessment.md
Due: make-pdf, make-design

Upload New File
  doc/common/life_cycle_assessment.md
Due: make-pdf, make-design

build fix
  doc/common/life_cycle_assessment.md
Due: make-pdf, make-design

edit Makefile asgn1
  doc/asgn1/Makefile
Due: make-pdf

Path conditions:
  make-pdf: any of: doc/common/**/*, doc/asgn1/*, .gitlab-ci.yml
  make-design: any of: doc/common/**/*, doc/design/*, .gitlab-ci.yml
