Repository isabellaPhung/UCSC-CSE123-S25: changes, and which GitLab CI jobs are due for each by the changed paths.
All: make-pdf, make-design

make-pdf:
  image:
    name: pandoc/latex
    entrypoint:
    - /bin/sh
    - -c
  script:
  - tlmgr install fvextra lineno
  - apk --no-cache add make
  - cd doc/asgn1
  - make pdf
  artifacts:
    paths:
    - doc/asgn1/build/assignment_1.pdf

make-design:
  image:
    name: pandoc/latex
    entrypoint:
    - /bin/sh
    - -c
  script:
  - apk --no-cache add make
  - cd doc/design
  - make pdf
  artifacts:
    paths:
    - doc/design/build/CSE123_Design_Document_Group2.pdf

fix Makefile asgn1
  doc/asgn1/Makefile
Due: make-pdf

edit assignment_1.md
  doc/asgn1/assignment_1.md
Due: make-pdf

update design_objective
  doc/common/design_objective.md
Due: make-pdf, make-design

fix name of decision table graphic
  doc/common/decision_table.md
Due: make-pdf, make-design

format budget and complete assignment 3
  doc/asgn3/Makefile
  doc/asgn3/assignment_3.md
  doc/common/prototype_budget.md
Due: make-pdf, make-design

added esp32 files
  .gitignore
  esp-tentative-name/CMakeLists.txt
  esp-tentative-name/main/CMakeLists.txt
  esp-tentative-name/main/esp-tentative-name.c
Due: none

added submodule ignore
  .gitmodules
Due: none

updated ci for asgn3 and added expiration date
  .gitlab-ci.yml
Due: make-pdf, make-design

added asgn3 to artifacts
  .gitlab-ci.yml
Due: make-pdf, make-design

Converted list into paragraph
  doc/common/design_for_manufacture_and_assembly.md
Due: make-pdf, make-design

moved files from tex to md
  doc/asgn1/Makefile
  doc/asgn1/assignment_1.md
  doc/asgn2/Makefile
  doc/asgn2/assignment_2.md
  doc/common/design_objective_table.md
  doc/common/design_objective_table.tex
  doc/common/goal_statement.md
  doc/common/need_statement.md
Due: make-pdf, make-design

fixed design document packages and added more sections
  doc/design/Makefile
  doc/design/design.sty
  doc/design/design.tex
Due: make-design

fixed issue of pandoc using newer commands on ci environment
  doc/design/design.sty
Due: make-design

Edit lifecycle_assessment.md
  doc/common/lifecycle_assessment.md
Due: make-pdf, make-design

Delete life_cycle_assessment.md
  doc/common/life_cycle_assessment.md
Due: make-pdf, make-design

added bibliography to life cycle
  doc/common/lifecycle_assessment.md
Due: make-pdf, make-design

Edit Makefile bib
  doc/asgn3/Makefile
Due: none

Edit assignment_3.md bib
  doc/asgn3/assignment_3.md
Due: none

Add new file
  doc/common/bibliography.md
Due: make-pdf, make-design

Edit lifecycle_assessment.md clean
  doc/common/lifecycle_assessment.md
Due: make-pdf, make-design

Edit bibliography.md
  doc/common/bibliography.md
Due: make-pdf, make-design

edit need_statement.md
  doc/common/need_statement.md
Due: make-pdf, make-design

updating need statement
  doc/asgn3/Makefile
  doc/asgn3/assignment_3.md
Due: none

modified assignment 3 and budget
  doc/asgn3/assignment_3.md
  doc/common/gantt.png
  doc/common/prototype_budget.md
Due: make-pdf, make-design

changed citations in assignment files
  doc/asgn3/Makefile
  doc/asgn3/assignment_3.md
  doc/common/bibliography.md
  doc/common/references.bib
  doc/misc/metadata.md
  doc/pdf.mk
Due: make-pdf, make-design

changed test plan wording
  doc/common/test_plan.md
Due: make-pdf, make-design

added esp-aws-iot submodule
  .gitmodules
Due: none

added a sample test and a tests section to the design document
  doc/common/tests/test_persistence.md
  doc/design/Makefile
  doc/design/design.tex
  doc/design/includes.mk
  doc/design/tests.tex
Due: make-pdf, make-design

presentation template with includes
  doc/presentation/Makefile
  doc/presentation/includes.mk
  doc/presentation/presentation.sty
  doc/presentation/presentation.tex
Due: none

add presentation to ci
  .gitlab-ci.yml
Due: make-pdf, make-design

completed display demo
  esp-tentative-name/display_demo/CMakeLists.txt
  esp-tentative-name/display_demo/README.md
  esp-tentative-name/display_demo/dependencies.lock
  esp-tentative-name/display_demo/main/CMakeLists.txt
  esp-tentative-name/display_demo/main/idf_component.yml
  esp-tentative-name/display_demo/main/main.c
Due: none

ported esp-aws-iot mqtt example to a component
  esp-tentative-name/.gitignore
  esp-tentative-name/CMakeLists.txt
  esp-tentative-name/components/mqtt_conn/CMakeLists.txt
  esp-tentative-name/components/mqtt_conn/Kconfig.projbuild
  esp-tentative-name/components/mqtt_conn/mqtt_conn.c
  esp-tentative-name/components/mqtt_conn/mqtt_conn.h
  esp-tentative-name/main/CMakeLists.txt
  esp-tentative-name/main/app_main.c
  esp-tentative-name/main/esp-tentative-name.c
  esp-tentative-name/partitions.csv
  esp-tentative-name/sdkconfig.defaults
Due: none

moved screen driver into components
  esp-tentative-name/.gitignore
  esp-tentative-name/components/ili9488/CMakeLists.txt
  esp-tentative-name/components/ili9488/README.md
  esp-tentative-name/components/ili9488/idf_component.yml
  esp-tentative-name/components/ili9488/main.c
  esp-tentative-name/display_demo/CMakeLists.txt
  esp-tentative-name/display_demo/dependencies.lock
  esp-tentative-name/main/CMakeLists.txt
Due: none

Gathered information from google sheets
  doc/common/decision_table.md
Due: make-pdf, make-design

Added decision table to design doc
  doc/design/design.tex
  doc/design/includes.mk
Due: make-design

Fixed headers
  doc/common/decision_table.md
  doc/design/design.tex
Due: make-pdf, make-design

attempt to fix tlmgr dependencies in ci
  .gitlab-ci.yml
Due: make-pdf, make-design

removing notes for other docs from brainstorm.md
  doc/common/brainstorm.md
Due: make-pdf, make-design

diagram of final design dimensions
  doc/common/design_dimensions.png
Due: make-pdf, make-design

Path conditions:
  make-pdf: any of: doc/common/**/*, doc/asgn1/*, .gitlab-ci.yml
  make-design: any of: doc/common/**/*, doc/design/*, .gitlab-ci.yml
