Repository isabellaPhung/UCSC-CSE123-S25: changes, and which GitLab CI jobs are due for each by the changed paths.
All: make-pdf, make-design, make-presentation

.gitlab-ci.yml:

variables:
  GIT_SUBMODULE_STRATEGY: recursive

make-pdf:
  rules:
    - changes:
      - doc/common/**/*
      - doc/asgn1/*
      - doc/asgn2/*
      - doc/asgn3/*
      - .gitlab-ci.yml
  image:
    name: pandoc/latex
    entrypoint: ["/bin/sh", "-c"]
  script:
    - tlmgr option repository https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2024/tlnet-final/
    - tlmgr install fvextra lineno
    - apk --no-cache add make
    - cd doc/asgn1
    - make pdf
    - cd ../asgn2
    - make pdf
    - cd ../asgn3
    - make pdf
  artifacts:
    paths:
      - doc/asgn1/build/assignment_1.pdf
      - doc/asgn2/build/assignment_2.pdf
      - doc/asgn3/build/assignment_3.pdf
    expire_in: 1 week

make-design:
  rules:
    - changes:
      - doc/common/**/*
      - doc/design/*
      - .gitlab-ci.yml
  image:
    name: pandoc/latex
    entrypoint: ["/bin/sh", "-c"]
  script:
    - tlmgr option repository https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2024/tlnet-final/
    - tlmgr install fvextra lineno
    - apk --no-cache add make
    - cd doc/design
    - make pdf
  artifacts:
    paths:
      - doc/design/build/CSE123_Design_Document_Group2.pdf
    expire_in: 1 week

make-presentation:
  rules:
    - changes:
      - doc/common/**/*
      - doc/presentation/*
      - .gitlab-ci.yml
  image:
    name: pandoc/latex
    entrypoint: ["/bin/sh", "-c"]
  script:
    - tlmgr option repository https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2024/tlnet-final/
    - tlmgr install fvextra lineno
    - apk --no-cache add make
    - cd doc/presentation
    - make pdf
  artifacts:
    paths:
      - doc/presentation/build/CSE123_Presentation_Group2.pdf
    expire_in: 1 week

change wording and slide formatting
  doc/common/design_logic.png
  doc/common/embedded_system_flow_chart.png
  doc/presentation/presentation.sty
  doc/presentation/presentation.tex
Due: make-pdf, make-design, make-presentation

update diagram
  doc/common/design_logic.png
Due: make-pdf, make-design, make-presentation

playground description update
  doc/presentation/presentation.tex
Due: make-presentation

Notes on algorithm
  doc/presentation/presentation.tex
Due: make-presentation

added notes
  doc/presentation/presentation.tex
Due: make-presentation

pres
  doc/common/screen_demo.png
Due: make-pdf, make-design, make-presentation

reorder slides and resized images
  doc/common/design_logic.png
  doc/presentation/images/aws_demo.jpg
  doc/presentation/presentation.tex
Due: make-pdf, make-design, make-presentation

refine to matc
  doc/common/goal_statement.md
Due: make-pdf, make-design, make-presentation

fixed elijah
  doc/common/personas/Elijah.png
  doc/common/personas/elijah.md
Due: make-pdf, make-design, make-presentation

editing test plan
  doc/common/test_plan.md
Due: make-pdf, make-design, make-presentation

finished edits to test_plan
  doc/common/test_plan.md
Due: make-pdf, make-design, make-presentation

modify design objective table
  doc/common/design_objective_table.md
Due: make-pdf, make-design, make-presentation

edited persistence tests
  doc/common/test_plan.md
  doc/common/test_report.tex
  doc/common/tests/test_persistence.md
Due: make-pdf, make-design, make-presentation

reorganize brainstorm.md
  doc/common/brainstorm.md
Due: make-pdf, make-design, make-presentation

added executive summary
  doc/common/executive_summary.md
Due: make-pdf, make-design, make-presentation

added executive summary
  doc/design/design.tex
  doc/design/includes.mk
Due: make-design

moved test report
  doc/common/tests/test_report.tex
Due: make-pdf, make-design, make-presentation

added cloud testing procedure
  doc/common/tests/test_cloud.md
Due: make-pdf, make-design, make-presentation

edited persistence test
  doc/common/tests/test_persistence.md
Due: make-pdf, make-design, make-presentation

fixed includes.mk
  doc/design/includes.mk
Due: make-design

finished edits on test_cloud
  doc/common/tests/test_cloud.md
  doc/common/tests/test_persistence.md
Due: make-pdf, make-design, make-presentation

added test lcd
  doc/common/tests/test_lcd.md
Due: make-pdf, make-design, make-presentation

updated test lcd and added additional test plan files
  doc/common/test_plan.md
  doc/common/tests/test_chemical.md
  doc/common/tests/test_drop.md
  doc/common/tests/test_lcd.md
  doc/common/tests/test_offline.md
  doc/common/tests/test_restoration.md
  doc/common/tests/test_tensile.md
  doc/common/tests/test_wifi.md
Due: make-pdf, make-design, make-presentation

adding tests to design doc
  doc/design/includes.mk
  doc/design/tests.tex
Due: make-design

fixed DFM formatting
  doc/common/design_for_manufacture_and_assembly.md
  doc/design/design.tex
Due: make-pdf, make-design, make-presentation

fixed test plan formatting
  doc/common/test_plan.md
Due: make-pdf, make-design, make-presentation

Abstract file
  doc/common/Abstract
Due: make-pdf, make-design, make-presentation

added description of cloud service
  doc/common/cloud_design.md
  doc/design/design.sty
  doc/design/design.tex
  doc/design/includes.mk
Due: make-pdf, make-design, make-presentation

updated design objective table to better reflect new objectives
  doc/common/design_objective_table.md
Due: make-pdf, make-design, make-presentation

Ignore obsidian configs
  .gitignore
Due: none

Renaming
  doc/common/Abstract
Due: make-pdf, make-design, make-presentation

Rewrote abstract
  doc/common/abstract.md
Due: make-pdf, make-design, make-presentation

Gave the abstract a fancier name
  doc/common/abstract.md
  doc/common/executive_summary.md
Due: make-pdf, make-design, make-presentation

Remove test results
  doc/design/design.tex
Due: make-design

Included haptics in embedded system
  doc/common/embedded_system_flow_chart.png
Due: make-pdf, make-design, make-presentation

improve readability of lifecycle_assessment.md
  doc/common/lifecycle_assessment.md
Due: make-pdf, make-design, make-presentation

Added RTC to diagram
  doc/common/embedded_system_flow_chart.png
Due: make-pdf, make-design, make-presentation

Device design section
  doc/common/cloud_design.md
  doc/common/device_design.md
  doc/design/design.tex
Due: make-pdf, make-design, make-presentation

add an issues section and fix some build files
  doc/common/brainstorm.md
  doc/design/design.tex
  doc/design/includes.mk
  doc/design/outstanding_issues.tex
Due: make-pdf, make-design, make-presentation

Added device design to build
  doc/design/includes.mk
Due: make-design
