Repository isabellaPhung/UCSC-CSE123-S25: changes, and which GitLab CI jobs are due for each by the changed paths.
All: make-pdf, make-design, make-presentation

make-pdf:
  image:
    name: pandoc/latex
    entrypoint:
    - /bin/sh
    - -c
  script:
  - tlmgr option repository https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2024/tlnet-final/
  - tlmgr install fvextra lineno
  - apk --no-cache add make
  - cd doc/asgn1
  - make pdf
  - cd ../asgn2
  - make pdf
  - cd ../asgn3
  ...

make-design:
  image:
    name: pandoc/latex
    entrypoint:
    - /bin/sh
    - -c
  script:
  - tlmgr option repository https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2024/tlnet-final/
  - tlmgr install fvextra lineno
  - apk --no-cache add make
  - cd doc/design
  - make pdf
  artifacts:
    paths:
  ...

make-presentation:
  image:
    name: pandoc/latex
    entrypoint:
    - /bin/sh
    - -c
  script:
  - tlmgr option repository https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2024/tlnet-final/
  - tlmgr install fvextra lineno
  - apk --no-cache add make
  - cd doc/presentation
  - make pdf
  artifacts:
    paths:
  ...

Camillia
  doc/poster/images/Camillia.png
Due: none

Personas edit
  doc/poster/poster.tex
Due: none

adjusted web interface images a bit
  doc/poster/images/web_devices.png
  doc/poster/images/web_mainview.png
  doc/poster/poster.tex
Due: none

Peyton minimalist
  doc/poster/images/Peyton.png
Due: none

Mary Min
  doc/poster/images/Mary.png
Due: none

persona
  doc/poster/poster.tex
Due: none

increased maximum descrption size significantly
  esp/components/database/include/defs.h
Due: none

rearranged poster sections
  doc/common/aws_chart/data_flow.py
  doc/poster/images/data_flow.png
  doc/poster/images/web_addtask.png
  doc/poster/poster.tex
Due: make-pdf, make-design, make-presentation

poster modification according to feedback
  doc/poster/images/University_of_California_Unofficial_Seal.png
  doc/poster/poster.tex
Due: none

update data flow grahpic
  doc/demo_presentation/presentation.sty
  doc/demo_presentation/presentation.tex
Due: none

remade cloud diagram for ideal product
  doc/common/aws_chart/manufactured.py
  doc/poster/images/data_flow.png
  doc/poster/poster.tex
Due: make-pdf, make-design, make-presentation

Aesthetic Prototype Render
  doc/common/schedule_companion_render.png
Due: make-pdf, make-design, make-presentation

add additions to poster
  doc/poster/images/PrototypeDesign.png
  doc/poster/images/aestheticRender.png
  doc/poster/images/entry_logic.pdf
  doc/poster/images/entry_logic.png
  doc/poster/images/product_components.pdf
  doc/poster/poster.tex
Due: none

remastered introduction
  doc/poster/poster.tex
Due: none

changed aesthetic render
  doc/poster/images/aestheticRender.png
  doc/poster/images/product_components.pdf
  doc/poster/poster.tex
Due: none

fixed Target audience formatting
  doc/poster/images/Camillia.png
  doc/poster/poster.tex
Due: none

changed introduction statement
  doc/poster/poster.tex
Due: none

added more to intro
  doc/poster/poster.tex
Due: none

updated image sources
  doc/poster/images/imgSources.txt
Due: none

modified arrows to flask in manufactured data flow
  doc/common/aws_chart/manufactured.py
  doc/poster/images/data_flow.png
Due: make-pdf, make-design, make-presentation

modify server blurb in poster
  doc/poster/poster.tex
Due: none

cmyk pdf build of poster
  doc/poster/beamercolorthemegemini.sty
  doc/poster/poster.tex
Due: none

added images from poster
  doc/common/Goal Completion.png
  doc/common/aestheticRender.png
  doc/common/prototype.jpg
Due: make-pdf, make-design, make-presentation

added a user tutorial for the device UI
  doc/common/configurable_settings.md
  doc/common/user_tutorial/Return.png
  doc/common/user_tutorial/cant_focus.png
  doc/common/user_tutorial/completed_task.png
  doc/common/user_tutorial/focus_buttons.png
  doc/common/user_tutorial/focus_tutorial.png
  doc/common/user_tutorial/habit_tutorial.png
  doc/common/user_tutorial/nav_arrows.png
  doc/common/user_tutorial/scroll_habits.png
  doc/common/user_tutorial/select_completed.png
  doc/common/user_tutorial/task_buttons.png
  doc/common/user_tutorial/task_detail.png
  doc/common/user_tutorial/task_event.png
  doc/common/user_tutorial/task_select.png
  doc/common/user_tutorial/try_focus.png
  doc/common/user_tutorial/user_tutorial.md
  doc/common/user_tutorial/user_tutorial.tex
Due: make-pdf, make-design, make-presentation

added am pm to time display
  esp/main/app_main.c
Due: none

updated taskEvent screenshot image
  doc/poster/images/taskEvent.png
Due: none

remove excess info in signup
  webserver/flask/templates/signup.html
Due: none

remove admin password plaintext
  webserver/flask/app.py
  webserver/flask/example.env
  webserver/flask/templates/login.html
Due: none

fix formatting
  webserver/flask/templates/index.html
Due: none

add delete_user to admin
  webserver/flask/app.py
  webserver/flask/templates/admin.html
Due: none

renamed and added some files and a UI user totiral
  doc/common/UI_user_tutorial/Return.png
  doc/common/UI_user_tutorial/cant_focus.png
  doc/common/UI_user_tutorial/completed_task.png
  doc/common/UI_user_tutorial/focus_buttons.png
  doc/common/UI_user_tutorial/focus_tutorial.png
  doc/common/UI_user_tutorial/habit_tutorial.png
  doc/common/UI_user_tutorial/nav_arrows.png
  doc/common/UI_user_tutorial/scroll_habits.png
  doc/common/UI_user_tutorial/select_completed.png
  doc/common/UI_user_tutorial/task_buttons.png
  doc/common/UI_user_tutorial/task_detail.png
  doc/common/UI_user_tutorial/task_event.png
  doc/common/UI_user_tutorial/task_select.png
  doc/common/UI_user_tutorial/try_focus.png
  doc/common/UI_user_tutorial/user_tutorial.md
  doc/common/UI_user_tutorial/user_tutorial.tex
  doc/common/configurable_settings.md
  doc/common/data_flow.png
  doc/common/goal_completion.png
  doc/common/prototype_wiring.jpg
Due: make-pdf, make-design, make-presentation

added info on server design to design doc
  doc/design/Makefile
  doc/design/design.tex
  doc/design/includes.mk
  doc/design/server_design.md
Due: make-design

added data flow images to common
  .gitlab-ci.yml
  doc/common/prototype_data_flow.png
  doc/poster/images/data_flow.png
Due: make-pdf, make-design, make-presentation

moved images
  doc/common/images/aestheticRender.png
  doc/common/images/data_flow.png
  doc/common/images/decision_table.png
  doc/common/images/design_dimensions.png
  doc/common/images/design_logic.png
  doc/common/images/embedded_system_flow_chart.png
  doc/common/images/gantt.png
  doc/common/images/goal_completion.png
  doc/common/images/prototype.jpg
  doc/common/images/prototype_wiring.jpg
  doc/common/images/schedule_companion_render.png
  doc/common/images/screen_demo.png
Due: make-pdf, make-design, make-presentation

moved prototype data flow image
  doc/common/images/prototype_data_flow.png
Due: make-pdf, make-design, make-presentation

changed references now that we have an images folder
  doc/common/device_design.md
  doc/common/gantt.md
  doc/design/server_design.md
Due: make-pdf, make-design, make-presentation

updated configurable settings
  doc/common/configurable_settings.md
Due: make-pdf, make-design, make-presentation

added more to configurable settings
  doc/common/configurable_settings.md
Due: make-pdf, make-design, make-presentation

added a startup Manual
  doc/common/startManual/add.png
  doc/common/startManual/login.png
  doc/common/startManual/scheduleapp_click.png
  doc/common/startManual/startManual.md
  doc/common/startManual/web_devices.png
  doc/common/startManual/wifiConnect.png
Due: make-pdf, make-design, make-presentation

Path conditions:
  make-pdf: any of: doc/common/**/*, doc/asgn1/*, doc/asgn2/*, doc/asgn3/*, .gitlab-ci.yml
  make-design: any of: doc/common/**/*, doc/design/*, .gitlab-ci.yml
  make-presentation: any of: doc/common/**/*, doc/presentation/*, .gitlab-ci.yml
