Repository isabellaPhung/UCSC-CSE123-S25: changes, and which GitLab CI jobs are due for each by the changed paths.
All: make-pdf, make-design, make-presentation

make-pdf:
  image:
    name: pandoc/latex
    entrypoint:
    - /bin/sh
    - -c
  script:
  - tlmgr option repository https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2024/tlnet-final/
  - tlmgr install fvextra lineno
  - apk --no-cache add make
  - cd doc/asgn1
  - make pdf
  - cd ../asgn2
  - make pdf
  - cd ../asgn3
  ...

make-design:
  image:
    name: pandoc/latex
    entrypoint:
    - /bin/sh
    - -c
  script:
  - tlmgr option repository https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2024/tlnet-final/
  - tlmgr install fvextra lineno
  - apk --no-cache add make
  - cd doc/design
  - make pdf
  artifacts:
    paths:
  ...

make-presentation:
  image:
    name: pandoc/latex
    entrypoint:
    - /bin/sh
    - -c
  script:
  - tlmgr option repository https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2024/tlnet-final/
  - tlmgr install fvextra lineno
  - apk --no-cache add make
  - cd doc/presentation
  - make pdf
  artifacts:
    paths:
  ...

trying to fix the markdown file
  doc/common/startManual/startManual.md
Due: make-pdf, make-design, make-presentation

images too big
  doc/common/startManual/startManual.md
Due: make-pdf, make-design, make-presentation

images still too big
  doc/common/startManual/startManual.md
Due: make-pdf, make-design, make-presentation

add more possible tests
  doc/common/tests/test_UV.md
  doc/common/tests/test_accessibility.md
  doc/common/tests/test_batterylife.md
  doc/common/tests/test_batterylifecycle.md
  doc/common/tests/test_bootTime.md
  doc/common/tests/test_chargespeed.md
  doc/common/tests/test_cloud.md
  doc/common/tests/test_drop.md
  doc/common/tests/test_emi.md
  doc/common/tests/test_factoryReset.md
  doc/common/tests/test_flashwrite.md
  doc/common/tests/test_freeze.md
  doc/common/tests/test_heat.md
  doc/common/tests/test_humidity.md
  doc/common/tests/test_memoryleak.md
  doc/common/tests/test_portDurability.md
  doc/common/tests/test_report.md
  doc/common/tests/test_scratch.md
  doc/common/tests/test_screenburn.md
  doc/common/tests/test_softwareUpdate.md
  doc/common/tests/test_soundhaptics.md
  doc/common/tests/test_touchcalibration.md
  doc/common/webapp_design_spec.md
Due: make-pdf, make-design, make-presentation

SQL database explination
  doc/common/device_design.md
Due: make-pdf, make-design, make-presentation

reverted figure command syntax
  doc/common/device_design.md
Due: make-pdf, make-design, make-presentation

Fixed reference tag
  doc/common/device_design.md
Due: make-pdf, make-design, make-presentation

Removed invalid commands
  doc/common/device_design.md
Due: make-pdf, make-design, make-presentation

added final presentation
  .gitlab-ci.yml
  doc/final_presentation/Makefile
  doc/final_presentation/includes.mk
  doc/final_presentation/presentation.sty
  doc/final_presentation/presentation.tex
Due: make-pdf, make-design, make-presentation

added details to test_drop
  doc/common/tests/images/drop_1.jpg
  doc/common/tests/images/drop_2.jpg
  doc/common/tests/images/drop_3.jpg
  doc/common/tests/images/drop_4.jpg
  doc/common/tests/images/drop_5.jpg
  doc/common/tests/test_drop.md
Due: make-pdf, make-design, make-presentation

combined thermal testing into one file
  doc/common/tests/test_freeze.md
  doc/common/tests/test_heat.md
  doc/common/tests/test_humidity.md
  doc/common/tests/test_thermal.md
Due: make-pdf, make-design, make-presentation

update server_design.md
  doc/design/server_design.md
Due: make-design

filled out drop testing, thermal testing, starting on thermal shock
  doc/common/tests/test_drop.md
  doc/common/tests/test_thermal.md
  doc/common/tests/test_thermalShock.md
Due: make-pdf, make-design, make-presentation

fixed images
  doc/common/tests/images/thermal.png
  doc/common/tests/test_thermal.md
Due: make-pdf, make-design, make-presentation

elaborated on thermal shock
  doc/common/tests/images/thermal_shock.png
  doc/common/tests/test_thermal.md
  doc/common/tests/test_thermalShock.md
Due: make-pdf, make-design, make-presentation

added intros and small image chages
  doc/common/tests/test_cloud.md
  doc/common/tests/test_drop.md
  doc/common/tests/test_thermal.md
  doc/common/tests/test_thermalShock.md
Due: make-pdf, make-design, make-presentation

updated persistance and offline tests
  doc/common/configurable_settings.md
  doc/common/tests/test_cloud.md
  doc/common/tests/test_offline.md
  doc/common/tests/test_persistence.md
Due: make-pdf, make-design, make-presentation

updated lcd testing
  doc/common/tests/test_lcd.md
Due: make-pdf, make-design, make-presentation

added new slides on soc and connection to final presentation
  doc/final_presentation/presentation.tex
Due: none

filled out sound testing
  doc/common/tests/test_lcd.md
  doc/common/tests/test_soundhaptics.md
  doc/common/tests/test_touchcalibration.md
Due: make-pdf, make-design, make-presentation

added physical device requirement page
  doc/common/device_component_design.md
Due: make-pdf, make-design, make-presentation

fixed headers
  doc/common/device_component_design.md
Due: make-pdf, make-design, make-presentation

added hardware page to design document
  doc/design/design.tex
  doc/design/hardware.md
  doc/design/includes.mk
Due: make-design

added circuit schematic of the prototype
  hardware/LICENSE-CERN-OHL
  hardware/Rust_Board.kicad_sym
  hardware/cse123.kicad_sch
  hardware/parts.kicad_sym
  hardware/prototype_schematic.pdf
  hardware/readme.md
Due: none

added S3 as a possible alternative microcontroller
  doc/common/device_component_design.md
Due: make-pdf, make-design, make-presentation

added more expected behaviors for powering on and off device
  doc/common/device_component_design.md
Due: make-pdf, make-design, make-presentation

add power saving mode to configurable settings
  doc/common/configurable_settings.md
Due: make-pdf, make-design, make-presentation

test_UV.md
  doc/common/tests/test_UV.md
Due: make-pdf, make-design, make-presentation

battery life, lifecycle and charge speed
  doc/common/tests/test_batterylife.md
Due: make-pdf, make-design, make-presentation

intro edit
  doc/common/tests/test_UV.md
Due: make-pdf, make-design, make-presentation

pushing my version of the tests
  doc/common/device_component_design.md
  doc/common/tests/test_batterylife.md
  doc/common/tests/test_batterylifecycle.md
  doc/common/tests/test_chargespeed.md
  doc/common/tests/test_thermal.md
Due: make-pdf, make-design, make-presentation

test updates
  doc/common/device_component_design.md
  doc/common/tests/test_batterylifecycle.md
  doc/common/tests/test_thermal.md
  doc/common/tests/test_thermalShock.md
Due: make-pdf, make-design, make-presentation

added device restoration
  doc/common/tests/test_flashwrite.md
  doc/common/tests/test_restoration.md
Due: make-pdf, make-design, make-presentation

add some info about database connection
  doc/design/server_design.md
Due: make-design

elaborated on factory reset, persistence, and device restoration
  doc/common/tests/test_factoryReset.md
  doc/common/tests/test_persistence.md
  doc/common/tests/test_restoration.md
Due: make-pdf, make-design, make-presentation

add info about Flask API endpoints
  doc/design/server_design.md
Due: make-design

filled out test_wifi
  doc/common/tests/test_cloud.md
  doc/common/tests/test_memoryleak.md
  doc/common/tests/test_restoration.md
  doc/common/tests/test_screenburn.md
  doc/common/tests/test_wifi.md
Due: make-pdf, make-design, make-presentation

add goals slide to final presentation
  doc/final_presentation/includes.mk
  doc/final_presentation/presentation.tex
Due: none

added need and goal statement
  doc/final_presentation/presentation.tex
Due: none

fixed includes
  doc/final_presentation/includes.mk
Due: none

Path conditions:
  make-pdf: any of: doc/common/**/*, doc/asgn1/*, doc/asgn2/*, doc/asgn3/*, .gitlab-ci.yml
  make-design: any of: doc/common/**/*, doc/design/*, .gitlab-ci.yml
  make-presentation: any of: doc/common/**/*, doc/presentation/*, .gitlab-ci.yml
