Repository isabellaPhung/UCSC-CSE123-S25: changes, and which GitLab CI jobs are due for each by the changed paths.
All: make-pdf, make-design, make-presentation

make-pdf:
  image:
    name: pandoc/latex
    entrypoint:
    - /bin/sh
    - -c
  script:
  - tlmgr option repository https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2024/tlnet-final/
  - tlmgr install fvextra lineno
  - apk --no-cache add make
  - cd doc/asgn1
  - make pdf
  - cd ../asgn2
  - make pdf
  - cd ../asgn3
  ...

make-design:
  image:
    name: pandoc/latex
    entrypoint:
    - /bin/sh
    - -c
  script:
  - tlmgr option repository https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2024/tlnet-final/
  - tlmgr install fvextra lineno
  - apk --no-cache add make
  - cd doc/design
  - make pdf
  artifacts:
    paths:
  ...

make-presentation:
  image:
    name: pandoc/latex
    entrypoint:
    - /bin/sh
    - -c
  script:
  - tlmgr option repository https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2024/tlnet-final/
  - tlmgr install fvextra lineno
  - apk --no-cache add make
  - cd doc/presentation
  - make pdf
  artifacts:
    paths:
  ...

rearrange tables and contents of final presentation
  doc/final_presentation/presentation.tex
Due: none

pcb diagram uses pdf instead now
  doc/common/images/product_pcb_diagram.pdf
  doc/final_presentation/presentation.tex
Due: make-pdf, make-design, make-presentation

remove unnecessary bold and refine improvements in final presentation
  doc/final_presentation/presentation.tex
Due: none

Added state machine diagram
  doc/common/device_statemachine.md
  doc/design/design.tex
  doc/design/includes.mk
Due: make-pdf, make-design, make-presentation

authentication and User managment
  doc/common/webapp_design_spec.md
Due: make-pdf, make-design, make-presentation

final changes
  doc/final_presentation/presentation.tex
Due: none

change wording to reflect final design
  doc/design/server_design.md
Due: make-design

add required files
  doc/common/existing_designs.md
  doc/common/sustainability_statement.md
Due: make-pdf, make-design, make-presentation

add new files to design doc
  doc/design/design.tex
  doc/design/includes.mk
Due: make-design

finished remainder of tests
  doc/common/configurable_settings.md
  doc/common/tests/images/port.jpg
  doc/common/tests/images/tensile.jpg
  doc/common/tests/test_accessibility.md
  doc/common/tests/test_bootTime.md
  doc/common/tests/test_portDurability.md
  doc/common/tests/test_scratch.md
  doc/common/tests/test_softwareUpdate.md
  doc/common/tests/test_syncTime.md
  doc/common/tests/test_tensile.md
Due: make-pdf, make-design, make-presentation

word change
  doc/common/tests/test_UV.md
Due: make-pdf, make-design, make-presentation

Added back port to render
  doc/common/images/schedule_companion_render_back.png
Due: make-pdf, make-design, make-presentation

fixed up a bunch of tests, adjusted the test plan and included document describing the test suite
  doc/common/test_plan.md
  doc/common/test_suite.md
  doc/common/tests/test_batterylife.md
  doc/common/tests/test_batterylifecycle.md
  doc/common/tests/test_manyToOne.md
  doc/common/tests/test_persistence.md
  doc/common/tests/test_restoration.md
Due: make-pdf, make-design, make-presentation

adding some additional files to better describe the manufactured design and the differences betwen it and the prototype
  doc/common/featureTable.tex
  doc/common/manufactured_design.md
  doc/common/phone_app_design.md
  doc/common/prototype_roadblocks.md
  doc/common/test_plan.md
Due: make-pdf, make-design, make-presentation

making some changes to the hardware section
  doc/common/manufactured_design.md
  doc/common/prototype_vs_manufactured.md
  doc/common/tests/test_portDurability.md
  doc/design/design.tex
  doc/design/hardware.md
  doc/design/includes.mk
  doc/design/prototype_hardware.md
Due: make-pdf, make-design, make-presentation

edits to notes in final presentation
  doc/final_presentation/presentation.tex
Due: none

expanded design of prototype hardware section
  doc/design/design.tex
  doc/design/prototype_hardware.md
Due: make-design

added better apendix in design toc
  doc/design/design.sty
  doc/design/design.tex
Due: make-design

added planning section to design
  doc/design/design.tex
  doc/design/images/gantt.png
  doc/design/includes.mk
  doc/design/planning.md
Due: make-design

minor formatting changes to design
  .gitlab-ci.yml
  doc/design/design.tex
  doc/design/prototype_hardware.md
  doc/design/server_design.md
  doc/design/software.md
Due: make-pdf, make-design, make-presentation

add some existing designs
  doc/common/existing_designs.md
Due: make-pdf, make-design, make-presentation

attempting to merge my changes with Lennan's
  .gitlab-ci.yml
  doc/design/design.sty
  doc/design/design.tex
  doc/design/images/gantt.png
  doc/design/includes.mk
  doc/design/planning.md
  doc/design/prototype_hardware.md
  doc/design/server_design.md
Due: make-pdf, make-design, make-presentation

oops accidentally deleted the design doc
  doc/design/design.sty
  doc/design/design.tex
Due: make-design

fixing the broke pipeline
  doc/design/design.sty
Due: make-design

removed appendix numbers
  doc/common/images/prototype1.jpg
  doc/common/images/prototype2.jpg
  doc/common/images/prototype3.jpg
  doc/common/images/prototype4.jpg
  doc/common/images/prototype5.jpg
  doc/common/images/prototype6.jpg
  doc/common/images/prototype7.jpg
  doc/design/design.tex
Due: make-pdf, make-design, make-presentation

why did i do implicit_figires
  doc/common/images/prototype2.jpg
  doc/design/Makefile
Due: make-pdf, make-design, make-presentation

why are the images in narnia
  doc/common/manufactured_design.md
  doc/design/prototype_hardware.md
Due: make-pdf, make-design, make-presentation

correcting captions
  doc/design/prototype_hardware.md
Due: make-design

image placement fixes thanks to Lennan
  doc/common/UI_user_tutorial/user_tutorial.tex
  doc/design/includes.mk
  doc/design/prototype_hardware.md
Due: make-pdf, make-design, make-presentation

corrections on design document style
  doc/common/manufactured_design.md
  doc/common/personas/camillia.md
  doc/common/personas/elijah.md
  doc/common/personas/linda.md
  doc/common/personas/mary.md
  doc/common/personas/peyton.md
  doc/design/design.sty
  doc/design/design.tex
  doc/design/includes.mk
  doc/design/planning.md
  doc/design/prototype_hardware.md
  doc/design/server_design.md
Due: make-pdf, make-design, make-presentation

remove auto-build for final presentation
  .gitlab-ci.yml
  doc/design/includes.mk
Due: make-pdf, make-design, make-presentation

fixing test plan and adjusting some titles
  doc/common/startManual/startManual.md
  doc/common/test_plan.md
  doc/common/tests/test_UV.md
  doc/common/tests/test_batterylifecycle.md
  doc/common/tests/test_chargespeed.md
  doc/common/tests/test_chemical.md
  doc/common/tests/test_emi.md
  doc/common/tests/test_factoryReset.md
  doc/common/tests/test_security.md
  doc/common/tests/test_wifi.md
Due: make-pdf, make-design, make-presentation

fixing typos and adjusting image sizes
  doc/common/startManual/startManual.md
Due: make-pdf, make-design, make-presentation

removed redundant file
  doc/design/design.tex
Due: make-design

reorder design document sections and content
  doc/common/configurable_settings.md
  doc/common/desicion_criteria.md
  doc/common/lifecycle_assessment.md
  doc/common/manufactured_design.md
  doc/common/personas/camillia.md
  doc/common/personas/elijah.md
  doc/common/personas/linda.md
  doc/common/personas/mary.md
  doc/common/personas/peyton.md
  doc/common/tests/test_softwareUpdate.md
  doc/design/design.sty
  doc/design/design.tex
  doc/design/eval_hardware.md
  doc/design/hardware_design.md
  doc/design/includes.mk
  doc/design/prototype_hardware.md
  doc/design/prototype_server.md
  doc/design/prototype_software.md
  doc/design/server_design.md
Due: make-pdf, make-design, make-presentation

removed redundant tests
  doc/common/tests/test_UV.md
Due: make-pdf, make-design, make-presentation

clarifications and corrections to expectation
  doc/common/tests/test_UV.md
Due: make-pdf, make-design, make-presentation

EMI/EMC rough draft
  doc/common/tests/test_emi.md
Due: make-pdf, make-design, make-presentation

try to fix?
  doc/common/tests/test_emi.md
Due: make-pdf, make-design, make-presentation

Path conditions:
  make-pdf: any of: doc/common/**/*, doc/asgn1/*, doc/asgn2/*, doc/asgn3/*, .gitlab-ci.yml
  make-design: any of: doc/common/**/*, doc/design/*, .gitlab-ci.yml
  make-presentation: any of: doc/common/**/*, doc/presentation/*, .gitlab-ci.yml
